* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --homeColour: #ffffff;
    --navColour: rgba(0, 93, 231, 0.9);
    --colourText: rgba(255, 255, 255, 0.9);
    --footerColour: rgba(2, 101, 250, 0.9);
}

html,
body {
    background-color: var(--homeColour);
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    display: none;
}

@keyframes opacityChangeAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}