footer {
    background-color: var(--footerColour);
    overflow: hidden;
    position: relative;
    bottom: 0;
    z-index: 2;
    margin: 0.5em 0 0 0;
}

footer col {
    width: calc(100vw / 2);
}

footer h2 {
    font: italic normal 500 calc(1.2rem + (1.5 - 1.2) * ((100vw - 250px) / (2500 - 250))) / 1.2 san-serif;
    padding: calc(0.5vh + 1vmin);
    margin: 0;
    color: var(--colourText);
    letter-spacing: 1px;
}


/* Media Queries */

@media (min-width:200px) and (max-width:400px) {
    footer h2 {
        font-size: calc(.5em + 1vw) !important;
    }
    .col {
        padding: 0.5em 0.2em;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}