footer {
    background-color: var(--navColour);
    overflow: hidden;
    margin: 2rem 0 0 0;
    position: relative;
    bottom: 0;
    z-index: 2;
}

footer col {
    width: calc(100vw / 2);
}

footer h2 {
    font-size: calc(1em + 1vmin);
    padding: calc(0.5vh + 1vmin);
    margin: 0;
    color: var(--colourText);
    font-size: calc(1.2rem + (1.5 - 1.2) * ((100vw - 250px) / (2500 - 250)));
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
}


/* Media Queries */

@media (min-width:200px) and (max-width:400px) {
    footer h2 {
        font-size: calc(.5em + 1vw) !important;
    }
    .col {
        padding: 0.5em 0.2em;
    }
}